*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*COLUMN*/
.my-col-1 {
    width: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);

}

.my-col-2 {
    width: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);

}

.my-col-3 {
    width: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);

}

.my-col-4 {
    width: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);

}

.my-col-5 {
    width: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);

}

.my-col-6 {
    width: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);

}

.my-col-7 {
    width: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);

}

.my-col-8 {
    width: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);

}

.my-col-9 {
    width: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);

}

.my-col-10 {
    width: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);

}

.my-col-11 {
    width: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);

}

.my-col-12 {
    width: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);

}
/*CSS*/
.a {
    text-decoration: none;
    color: black;
}
.a-azzurro {
    text-decoration: none;
    color: white;
}
.a-2 {
   text-decoration: none;
   color: white;
}

:root {
    --navbar-header-height: 80px;
    --aside-bar-width: 75px;
}


header {
    background-color: #F8F9FA;
}

.h-navbar {
    height: var(--navbar-header-height);
}

.w-aside {
    width: var(--aside-bar-width);
    height: calc(100vh - var(--navbar-header-height));
}

#mobile-logo {
    width: 50px;
}

#desktop-logo {
    width: 250px;
}

.bg-search-bar {
    background-color: #E5E5E5;
}

.notific-icon-color {
    color: #FF8F00;
}


.edit-btn:hover,
.delete-btn:hover {
    background-color: red;
}

.edit-btn:hover>i,
.delete-btn:hover>i {
    color: white;
}
.sidebar-bg {
    background-image: url("../img/sidebar-bg.png");
    background-size: cover;
    background-position: center;
    background-color: #051E34;
}

.application-width {
    height: calc(100vh - var(--navbar-header-height));
    width: calc(100vw - var(--aside-bar-width));
}
.badge-bg-primary {
    background-color: #165BBA;
}
.width{
    width: 30px;
    text-align: center;
}
.bg-white{
    background-color: white;
}
.size{
    width: 25px;
    height: 25px;
}
.size2 {
    width: 65px;
    height: 35px;
}
.size3 {
    width: 75px;
    height: 35px;
}
